html { }

body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

header {
    font-weight: bold;
    margin-bottom: 20px;
}
footer {
    font-style: italic;
    margin-top: 20px;
}

input[type=button] {
    margin-left:0;
    margin-right:0;
}

