# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# all downloaded nuget packages, because we've package restore enabled
packages

# per-user project files
*.suo
*.user
_Resharper*