<header>
    Wake-on-LAN Web
</header>

<div id="body">
    <input type="text" id="macAddress" value="00-1A-4D-9D-74-E4" /> 
    <input type="text" id="ipAddress" value="MEDIA" />
    <input type="button" id="wake" value="Wake this machine" />
    <code id="pingResult"></code>  
</div>

<footer>
    &copy by Hannes Sachsenhofer
</footer>

@section scripts {
    <script>
        $(document).ready(function () {

            var pingResultSpan = $("#pingResult");
            pingResultSpan.html("Pinging ...");
            sendPing();
            $.interval(function () {
                sendPing();
            }, 3000);

            var wakeButton = $("#wake");
            wakeButton.click(function() {
                wakeButton.attr("disabled", "disabled");
                $.getJSON("@Url.Action("Index", "Wake")/" + $("#macAddress").val(), { }, function (result) {
                    wakeButton.removeAttr("disabled");
                });
            });

        });

        function sendPing() {
            $.getJSON("@Url.Action("Index", "Ping")/" + $("#ipAddress").val(), { }, function (result) {
                $("#pingResult").html(result);
            });
        }
    </script>
}

<!-- 
    00-24-7E-0E-23-0B / 10.2.1.175 
-->

